html, body {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Arial;
    background-color: #f6f5f5;
}

h1 {
    margin-left: 20px;
    float: left;
    font-size : 40px;
    text-align: center;
    display: block;
    width: 35%;
    font-weight: bolder;
}

.header {
    overflow: hidden;
}

h3 {
    display: block;
    font-size: 16px;
    float: left;
}
.topnav{
    clear: left;
    background-color: #DEEAEA;
}

.topnav a{
    color : black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.topnav a:hover{
    background-color: #d6e4e4;
}

h2 {
    font-size: 28px;
    margin-top: 38px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-sub {
    position: relative;
    display: block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-subcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
}

  .dropdown-sub:hover .dropdown-subcontent {
    margin-left: 160px;
    margin-top: -46px;
    display: inline-block;
  }
  .dropdown-subcontent a:hover {
    background-color: #f1f1f1;
}

.content{
    clear: left;
}

.central{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

form {
    padding: 50px;
    margin: 20px;
}

.my_input{
    margin-bottom: 25px;
    margin-top: 5px;
    display: block;
    margin-left: 20px;
}

input{
    padding: 10px;
    background-color: #F7D5D5;
    border: none;
    border-radius: 8px;
}

label{
    padding: 10px;
    font-weight: bold;

}

button {
    background-color: #F53C3C;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;

}

