html, body {
    height: 100%;
    font-family: Arial;
    background-color: #f6f5f5;
}

h1 {
    margin-left: 20px;
    float: left;
    font-size : 40px;
    text-align: center;
    display: block;
    width: 35%;
    font-weight: bolder;
}
h5 {
    font-size: 16px;
}

.header {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

h4 {
    text-align: right;
    font-size: 14px;
    display: block;
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #F53C3C;
}

h3 {
    display: block;
    font-size: 16px;
    float: left;
}
.topnav{
    padding-left: 10%;
    clear: left;
    background-color: #DEEAEA;
}

.topnav a{
    color : black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.topnav a:hover{
    background-color: #d6e4e4;
}

h2 {
    font-size: 28px;
    margin-top: 38px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-sub {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-subcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
}

  .dropdown-sub:hover .dropdown-subcontent {
    margin-left: 160px;
    margin-top: -46px;
    display: inline-block;
  }
  .dropdown-subcontent a:hover {
    background-color: #f1f1f1;
}

.warning {
    margin: 10px;
    padding-top : 50px;
    display: inline-block;
  }
.warning-content {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 300px;
    z-index: 1;
  }

.warning:hover .warning-content {
    display: block;
  }

.content{
    clear: left;
}

.central{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;
}

.my_input{
    margin-bottom: 15px;
    margin-top: 25px;
    display: block;
    margin-left: 20px;
}

.class_list{
    width: 500px;
}

input{
    padding: 10px;
    background-color: #F7D5D5;
    border: none;
    border-radius: 8px;
}

select {
    padding: 10px;
    background-color: #F7D5D5;
    border: none;
    border-radius: 8px;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

label{
    padding: 10px;
    font-weight: bold;

}

.header_button{
    background-color: #f6f5f5;
    color: black;
    padding: 0px;
}

.list_button{
    display: inline-block;
    background-color: #f6f5f5;
    color: black;
    padding: 0px;
    text-align: right;
    font-size: 16px;
}

.header_button:hover{
    color: #F53C3C;
}

button {
    background-color: #F53C3C;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.tablink {
    background-color: #DEEAEA;
    padding: 20px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.tablink:hover{
    background-color: #F7D5D5;
}

.colleft{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 60%;
}

.colright{
    text-align: center;
    margin-left: -12%;
    float: left;
}

.colleft-edt{
    text-align: center;
    float: left;
    width: 38%;
}

.colright-edt{
    text-align: center;
    float: left;
    width: 62%;
    margin-left: -50px;
}

.colup{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.tabcontent{
    display: none;
}

#teacherInput{
    background-image: url('/css/searchicon.png'); 
    background-position: 5px 0px; 
    background-repeat: no-repeat; 
    width: 40%; 
    font-size: 16px; 
    padding: 16px 20px 16px 45px; 
    border: 0px solid #ddd; 
    margin-bottom: 12px;
    margin-right: 6%;
}

#teacherList {
    list-style-type: none;
    margin-left: auto;
    margin-right: 30%;
    text-align: left;
    padding: 0;
    width: 45%;
    height: 500px;
    overflow: auto;
  }

#teacherList li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

  #teacherList li a:hover:not(.header) {
    background-color: #eee;
  }

th, td {
    padding : 10px;
    width : 200px;
    text-align: center;
    background-color: #DEEAEA;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.schedule th, .schedule td{
    padding: 0;
    padding-right: 50px;
    width : auto;
    text-align: center;
    background-color: #f6f5f5;
}

.schedule table{
    margin-bottom: 20px;
}

.myTable{
    height: 500px;
    overflow: auto;
}

.myTable th {
    position: sticky;
    top: 0;
}

.filter {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 10px;
}

.myList {
    text-align: left;
}

.myList li{
    margin-top: 10px;
    font-weight: bold;
}

.myList button{
    margin-top: 10px;

}

.suppr{
    background-color: #DEEAEA;
    color: black;
    margin-left: 20px;
    display: inline;
}

.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 40px;
}

.info span {
    margin: 40px;
    background-color: #F7D5D5;
    padding: 15px;
    border-radius: 8px;
}

#divisionList {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: left;
    padding: 0;
    overflow: auto;
    width: 500px;
  }

  #divisionList span {
    background-color: #f9f9f9;
    padding: 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: inline-block;
    border-radius: 8px;
}

#subjectList li {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #DEEAEA;
    border-radius: 8px;
    overflow: auto;
  }

  #studentList {
    list-style-type: none;
    margin-left: auto;
    margin-right: 30%;
    text-align: left;
    padding: 0;
    width: 45%;
    height: 800px;
    overflow: auto;
  }

#studentList li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#studentList li a:hover:not(.header) {
    background-color: #eee;
  }

#studentInput{
    background-image: url('/css/searchicon.png'); 
    background-position: 5px 0px; 
    background-repeat: no-repeat; 
    width: 40%; 
    font-size: 16px; 
    padding: 16px 40px 16px 45px; 
    border: 0px solid #ddd; 
    margin-bottom: 12px;
    margin-right: 6%;
}

.class_check{
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.class_check span{
    display: block;
    margin-bottom: 15px;
}

.filterbox {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20%;
    width: 50%;
}
.filterbox select{
    margin-top: 10px;
}

#studentList span {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.divisionList {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: left;
    padding: 0;
    width: 500px;
    overflow: auto;
  }

.divisionList span {
    background-color: #f9f9f9;
    padding: 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: inline-block;
    border-radius: 8px;
}

.edt {
    position: relative;
    background-color: #d6e4e4;
    padding: 0px;
    height: 900px;
    width: 1085px;
    margin-bottom: 20px;
    margin-top: 10px;

}
.day-edt {
    margin: 0px;
    position: absolute;
    padding: 0px;

}
.content-edt{
    position: relative;
    padding: 0px;
    height: 900px;
    overflow:auto;
}

.day-edt div{
    position: relative;
    float: left;
    width: 180px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    font-weight: bold;
    background-color: "red";
}

#bodyEdt span {
    display: block;
}
#bodyEdt p {
    padding : 0;
    margin: 0;
}


#bodyEdt a:hover{
    color: #f6f5f5;
}

#bodyEdt div{
    position: absolute;
    display: block;
    width: 160px;
    height: 70px;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
}

#edt-box {
    background-color : transparent;
}

.col-edt {
    position: absolute;
    margin-top: 40px;
    left: -100px;
    width: 100px;
}

.times-edt {
    height: 90px;
    display: block;
}

.times-edt p{
    font-weight: bold;
    font-size: 18px;
}

.start-time {
    font-size: 13px;
    text-align: right;
    margin-right: 10px;
}

.radio-link {
    display: inline-block;
    width: 80%;
}

.infos {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0;
    width: 45%;
  }

.infos button{
    margin-top: -1px;
    background-color: #DEEAEA;
    padding: 12px;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    color: black;
    width: 90%;
    display: block;
}

.infos button.active{
    background-color: #F7D5D5;
}

.tabcontentinfo{
    display: none;
    width: 700px;
}


.infos span{
    display: block;
    margin: 10px;
}


.alert {
    margin: 10px;
}

